<html>
<body>
   
<h3>
    你好， ${username}, 这是一封模板邮件!
</h3>

<hr/>

<p>  邮件数据仅包含自然月的本月数据。</p>
<p>  进件费用暂不体现在日报中。</p>
<p>  注：词汇表。</p>
<p>CPA，指按标准进件的收费方式。</p>
<p>CPQ，指按推送数据项的收费方式。</p>
<p> 进件笔数，指推送过去的进件计费笔数。</p>
<p> 放款笔数,指按进件时间计算的放款笔数。</p>
<p>放款金额,指放款用户的实际借款金额。</p>
<p> 运营商查得数，指排除程序失败等异常因素，合作方查得推送运营商结果的次数。</p>
<p>芝麻分查得数，指排除程序失败等异常因素，合作方查得推送芝麻分结果的次数。</p>
</body>
</html>